<!DOCTYPE html>
<html lang="en-US" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.minv3.css}" href="../static/css/bootstrap.minv3.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" href="../static/css/animate.min.css"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" href="../static/css/owl.carousel.css"/>
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css"/>
    <link rel="stylesheet" th:href="@{/css/flexslider.css}" href="../static/css/flexslider.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css"/>
    <link rel="stylesheet" th:href="@{/css/multipage-style.css}" href="../static/css/multipage-style.css"/>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>


<body th:object="${reservation}">

<div class="noo-spinner">
    <div class="sk-wave loader-multipage">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
</div>

<!--这里右边隐藏区域（订阅） -->
<div id="body_hider" class="hider_flag"></div>
<div id="body_hider_full" class="hider_flag"></div>
<div id="page-wrapper">
    <div class="hidden-bar">
        <div class="hidden-bar-scroller">
            <div class="hidden-bar-inner">
                <div class="widget widget-logo pb-1">
                    <div class="widget-inner">
                        <img th:src="@{/images/Green-white.png}" src="../static/images/Green-white.png" alt=""/>
                    </div>
                </div>
                <div class="widget mb-6 pb-0">
                    <div class="widget-inner">
                        <p class="text-center">
                            1 Washington Sq
                            <br/>San Jose, CA 95192
                        </p>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-inner">
                        <h3 class="widget-title header-font white">MAILING LIST</h3>
                        <p>
                            Subscribe and stay updated with the latest news
                            <br/>from us. We never spam!
                        </p>
                        <form>
                            <div class="clearfix">
                                <div class="form-signup-row">
                                    <label class="fw-normal">Email Address<span>*</span></label>
                                    <input type="text" placeholder="Your email" name="email" id="email"
                                           class="highlighted"/>
                                </div>
                                <div class="form-signup-row">
                                    <label class="fw-normal">Name</label>
                                    <input type="text" placeholder="Your name" name="name" id="name"
                                           class="highlighted"/>
                                </div>
                                <div class="form-signup-row theme-button clearfix">
                                    <input type="submit" name="signup_submit" id="signup_submit" value="SUBSCRIBE"/>
                                </div>
                            </div>
                            <!-- /mc_form_inside -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--这里是header -->
    <header class="header-absolute">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div id="header-nav" class="classic-menu">
                        <div class="header-nav-inner" style="background-color:#53d2a7">
                            <div class="inner-block" style="background-color:#53d2a7">
                                <div class="header-logo">
                                    <div class="header-logo-holder">
                                        <div class="header-logo-before">
                                            <a href="/">
                                                <img th:src="@{/images/Green-white.png}"
                                                     src="../static/images/Green-white.png" alt="greenLogo"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu-section">
                                    <nav id="nav-main">
                                        <div class="nav-wrap header-font">
                                            <div id="fount-top-floater">
                                                <div id="menu-right-trigger" class="hidden-bar-toggle">
                                                    <div class="menu-bars">
                                                        <div class="menu-bar bar-1"></div>
                                                        <div class="menu-bar bar-2"></div>
                                                        <div class="menu-bar bar-3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="menu-toggle-floater">
                                                <div class="menu-toggle">
                                                    <div class="menu-bars">
                                                        <div class="menu-bar bar-1"></div>
                                                        <div class="menu-bar bar-2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="sf-menu sf-vertical">
                                                <li class="active"><a href="/">HOME</a></li>
                                                <li><a href="#footer">CONTACT US</a></li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">TRIPS</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="/reservations/p">HOSTED TRIPS</a></li>
                                                        <li><a href="/reservations/c">SHARED TRIPS</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">ACCOUNT</a>
                                                    <ul class="sub-menu">
                                                        <li sec:authorize="!isAuthenticated()"><a href="/login">SIGN
                                                            IN</a></li>
                                                        <li sec:authorize="isAuthenticated()"><a href="/user/dt">PROFILE</a>
                                                        </li>
                                                        <li sec:authorize="isAuthenticated()"><a href="/logout">LOG
                                                            OUT</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="main" class="section">
       <!-- <img th:src="@{/images/background.png}" src="../static/images/background.png" alt="background"/>-->
        <div class="section bg-white">
            <div class="container-fluid" style="width:1200px">
                <div class="row">
                    <div class="col-sm-12 p-0">
                <h2 class="page-header" style="margin-top:120px">Search Result</h2>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <!--<th>Provider Id</th>
                        <th>Customer Id</th>-->
                        <th>Depart City</th>
                        <th>Destination</th>
                        <th>Depart Day</th>
                        <th>Depart Time</th>
                        <th>Availability</th>
                        <th>Detail</th>
<!--                        <th>Action</th>-->
                        <!--            <th>Note</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation,iterStat:${reservations}">
                        <!--            <td th:text="${iterStat.index}">0</td>-->


                        <!--            <td><a href="#" th:text="${book.name}" th:href="@{'/books/' + ${book.id}}">书名</a></td>-->
                        <!--<td th:text="${reservation.provider_id}">provider id</td>
                        <td th:text="${reservation.customer_id}">customer id</td>-->
                        <td th:text="${reservation.startcity}">start city</td>
                        <td th:text="${reservation.endcity}">end city</td>
                        <!--text格式换成了date-->
                        <td th:text="${reservation.startday}">start day</td>
                        <td th:text="${reservation.starttime}">start time</td>
                        <td th:text="${reservation.available}">availability</td>
                        <td><a href="#" th:href="@{/reservations/{id}(id=${reservation.id})}">Find More</a></td>
                        <!--            <td th:text="${reservation.note}">note</td>-->
<!--                        <td>-->
<!--                            &lt;!&ndash;                <a href="#" th:href="@{/reservations/{id}/input(id=${reservation.id})}">Update</a>&ndash;&gt;-->
<!--                            <a href="#" th:href="@{/reservations/{id}/update(id=${reservation.id})}">Update</a>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>


                <div class="row">
                    <div class="col-sm-6">
                        <a href="javascript:history.go(-1)" class="btn1 btn2">Back</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="./input.html" th:href="@{/reservations/input}" class="button" style="vertical-align:middle"><span>Add</span></a>
                    </div>
                </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
   <!-- <img th:src="@{/images/footer.png}" src="../static/images/footer.png" alt="footer"/>-->


    <div id="copyright" class="copyright pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="simple_line mt-5 mb-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    2021 - All Rights Reserved.
                </div>
                <div class="col-sm-6 text-right">
                    Proudly developed by Green.
                </div>
            </div>
        </div>
     </div>
    <div id="fount-to-top" class="prk_radius">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-migrate.min.js}" src="../static/js/jquery-migrate.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.minv3.js}" src="../static/js/bootstrap.minv3.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.singlePageNav.js}"
        src="../static/js/jquery.singlePageNav.js"></script>
<script type="text/javascript" th:src="@{/js/modernizr.min.js}" src="../static/js/modernizr.min.js"></script>
<script type="text/javascript" th:src="@{/js/imagesloaded.pkgd.min.js}"
        src="../static/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"
        src="../static/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.fitvids.js}" src="../static/js/jquery.fitvids.js"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}" src="../static/js/owl.carousel.min.js"></script>
<script type="text/javascript" th:src="@{/js/classie.js}" src="../static/js/classie.js"></script>
<script type="text/javascript" th:src="@{/js/superfish.min.js}" src="../static/js/superfish.min.js"></script>
<script type="text/javascript" th:src="@{/js/supersubs.js}" src="../static/js/supersubs.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.flexslider-min.js}"
        src="../static/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" th:src="@{/js/waypoints.min.js}" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}" src="../static/js/script.js"></script>
<script type="text/javascript" th:src="@{/js/custom.js}" src="../static/js/custom.js"></script>
</body>
</html>